INSTANCIAS=instancia-1=http://ms-cotizacion-1:5000,instancia-2=http://ms-cotizacion-2:5000,instancia-3=http://ms-cotizacion-3:5000
REDIS_HOST=redis
REDIS_PORT=6379
INTERVALO_CICLO_SEGUNDOS=5
TIMEOUT_PROBE_SEGUNDOS=3
CICLOS_FALLIDOS_PARA_NO_SALUDABLE=2
CICLOS_EXITOSOS_PARA_REINTEGRAR=3
TIMEOUT_FORWARD_SEGUNDOS=3